html{
    background-color: #ffffff;
    color: black;
    font-size: 12px;
    width: 100%;
    height: auto;
    background: no-repeat url(../img/rickmorty_lieux.png);
    background-size: cover;
}


header{
  width: 100%;
  height: 100px;;
  position: sticky;
  background-image: linear-gradient(.02turn, #0B1575, 5%, black);
  display: flex;
  justify-content: space-between;
  

  .logo{
      content: url(../img/Rick_and_Morty_logo.png);
      width: auto;
      height: 60px;
      padding: 20px 20px 30px 20px;

  }

  .img_header {
      content: url(../img/801x410_rick.jpg);
      width: auto;
      height: 100px;
      padding-right: 20px;
  }

}

.choice_type{
  width: 100%;
  background-color: white;
  height: 100px;

}



  #container_lieux {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 40px 40px 40px;
    flex-wrap: wrap;
  }
  
  .card {
    
    background-color:red($color: #000000);
    border-radius: 10px;
    padding: 12px;
    margin: 12px;
    margin-top: 25px;
  }

  .card__text-container {
    
    text-align: center;
    color:white;
    justify-content: center;

    .location-name {
      background-color: purple;
      font-size: 30px;
      font-weight: 700;
      cursor: pointer;
      padding: 10px 10px 10px 10px;

      &:hover {
        background-color: rgb(63, 1, 63);
      }

      
    }  
}

.location_details{
        display: none!important;
      }

.character_details{
  display: none!important;  
}

ul{
  list-style: none;
  text-align: left;
  padding-top: 0px;
  margin: 10px;

}

li{
  font-size: 16px;
}

.character {

  width: 90%;
  height: 150px;
  display: flex;
  flex-direction: row;
  background: purple;
  border-radius: 0.5rem;
  margin: 0.75rem;
  
    img{
      margin: 10px;
      height: 130px;
        width: auto;
        border-radius: 50%;
    
  }

  .characters_content {
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
    width: 50%;
  }




}

.scroller {
  width: 400px;
  height: 250px;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;

  background: (url(../img/Rick-and-Morty_decord_fond_section.jpeg));
  background-size: 100%;
}
  

.fa-space-shuttle{
  color: white;
}

