html {
    width: 100%;
    height: auto;
    background: no-repeat url(../img/rickmorty_lieux.png);
    background-size: cover;
    font-family: "Nunito", sans-serif;
  }

header
{
  width: 100%;
  background-color: white;
  height: 100px;

}


  .container_lieux {
  
    flex-direction: column;
    padding: 25%;
    padding-top: 40px;
    flex-wrap: wrap;
  }
  
  .card {
    display: flex;
    background-color:green;
    border-radius: 10px;
    color: white;
    width: 200px;
    padding: 12px;
    margin: 12px;
    margin-top: 25px;
    
  }

  .card__text-container {
    font-size: 0.8rem;
    text-align: center;
    color:white;
    justify-content: center;

    .card__text-name {
      font-size: 25px;
      font-weight: 700;
      cursor: pointer;
    }

    .card__text-others{
      display: none;   

  }
}
  