html {
    width: 100%;
    height: auto;
    background: no-repeat url(../img/rickmorty_lieux.png);
    background-size: cover;
    font-family: "Nunito", sans-serif;
  }

header
{
  width: 100%;
  background-color: white;
  height: 100px;

}


  .container_lieux {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    flex-wrap: wrap;
  }
  
  .card {
    
    background-color:green;
    border-radius: 10px;
    color: white;
    width: 200px;
    padding: 12px;
    margin: 12px;
    margin-top: 25px;
    
  }

  .card__text-container {
    font-size: 0.8rem;
    text-align: center;
    color:white;
    justify-content: center;

    .location-name {
      font-size: 25px;
      font-weight: 700;
      cursor: pointer;

      .location_details{
        display: none;
      }
      
    }

    .character_details{
      display: none;   
  }

  

}


  