html {
    font-family: 'New Tegomin', Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    color: black;
    font-size: 12px;
    width: 100%;
    height: auto;
    background: no-repeat url(../img/wallpapersden_rick.jpg);
    background-size: cover;
    background-position: 0px 100px;
}

.main {
    width: 100%;
    height: auto;
    position: relative;
}

body {
    margin: 0 0 0 0;
}

header {
    width: 100%;
    height: 100px;
    ;
    position: sticky;
    background-image: linear-gradient(.02turn, #0B1575, 5%, black);
    display: flex;
    justify-content: space-between;
    .logo {
        content: url(../img/Rick_and_Morty_logo.png);
        width: auto;
        height: 60px;
        padding: 20px 20px 30px 20px;
    }
    .img_header {
        content: url(../img/801x410_rick.jpg);
        width: auto;
        height: 100px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 640px) {
    .img_header {
        display: none;
    }
    header {
        align-items: center;
        justify-content: center;
    }
}

.forme_planete {
    position: absolute;
    border-radius: 50%;
    .link_planete {
        position: relative;
        .fas {
            font-size: 200px;
        }
        &:hover span {
            display: block;
            transform: scale(1.5);
            transition: ease-in 2s;
        }
        .titre1 {
            position: absolute;
            bottom: 30px;
            left: 35px;
            color: white;
            font-size: 30px;
            font-weight: 600;
            z-index: 2;
            display: none;
        }
        .bg {
            position: absolute;
            bottom: -10px;
            left: -1px;
            height: 200px;
            width: 200px;
            background: rgba(0, 0, 0, 0.7);
            border-radius: 50%;
            z-index: 1;
            display: none;
        }
        .fond_planete {
            position: absolute;
            width: 200px;
            height: 200px;
            bottom: -10px;
            left: -1px;
            border-radius: 50%;
            display: none;
        }
    }
}

.planete1 {
    right: 200px;
    top: 200px;
    animation-duration: 16s;
    animation-name: rainbow1;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
    @keyframes rainbow1 {
        0% {
            background-color: pink;
            top: 200px;
            right: 200px;
            opacity: 0.7
        }
        25% {
            background-color: plum;
            top: 300px;
            right: 250px;
            opacity: 0.9;
        }
        50% {
            background-color: blue;
            top: 500px;
            right: 150px;
            opacity: 0.8;
        }
        ;
        75% {
            background-color: red;
            top: 300px;
            right: 100px;
            opacity: 0.8
        }
        100% {
            background-color: palevioletred;
            top: 200px;
            right: 200px;
            opacity: 0.7;
        }
    }
    .link_planete {
        .fa-globe-europe {
            color: purple;
        }
        .fond_planete1 {
            content: url(../img/photo_rick.jpeg);
        }
    }
}

.planete3 {
    right: 1100px;
    top: 400px;
    animation-name: rainbow3;
    animation-duration: 15s;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
    @keyframes rainbow3 {
        0% {
            background-color: none;
            top: 300px;
            right: 1200px;
            opacity: 0.8
        }
        25% {
            background-color: cyan;
            top: 400px;
            right: 1100px;
            opacity: 0.7
        }
        50% {
            background-color: blue;
            top: 300px;
            right: 1000px;
            opacity: 0.9
        }
        ;
        75% {
            background-color: white;
            top: 150px;
            right: 1100px;
            opacity: 0.7
        }
        100% {
            background-color: purple;
            top: 300px;
            right: 1200px;
            opacity: 0.8;
        }
    }
    .link_planete {
        .fa-globe-africa {
            color: cyan;
        }
        .fond_planete3 {
            content: url(../img/morty_photo.jpeg);
        }
    }
}